.footer {
    text-align: center;
    padding: 1em 0;
    background-color: $background-alt-color;
  
    &-text {
      font-size: 0.9rem;
      color: $text-color;
      margin-bottom: 0.5em;
    }
  }